@import 'tailwindcss';
@import './fonts/fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-buduj-sans: Buduj-Sans-Semibold, sans-serif;
  --font-manrope: Manrope, sans-serif;
  --text-header_100: 6rem;
  --text-header_200: 4.2rem;
  --text-base_100: 2.6rem;
  --text-base_200: 1.8rem;
  --text-base_300: 1.6rem;

  --breakpoint-md: 1000px;

  /* COLORS */
  --color-dark_100: hsl(235, 66%, 30%);
  --color-dark_200: hsl(235, 43%, 26%);
  --color-main_100: hsl(46, 84%, 52%);
  --color-main_200: hsl(46, 100%, 65%);
  --color-accent_100: hsl(355, 87%, 60%);
  --color-accent_200: hsl(0, 73%, 41%);
  --color-light: hsl(210, 17%, 98%);
  --color-main_100-dark: hsl(210, 11%, 15%);

  /* ICONS */
  --bg-icon-search: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bg-icon-moon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z'/%3E%3C/svg%3E");
  --bg-icon-sun: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z'/%3E%3C/svg%3E");
  --bg-icon-system: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M772.672 575.808V448.192l70.848-70.848a370.688 370.688 0 0 0-56.512-97.664l-96.64 25.92-110.528-63.808-25.92-96.768a374.72 374.72 0 0 0-112.832 0l-25.92 96.768-110.528 63.808-96.64-25.92c-23.68 29.44-42.816 62.4-56.576 97.664l70.848 70.848v127.616l-70.848 70.848c13.76 35.264 32.832 68.16 56.576 97.664l96.64-25.92 110.528 63.808 25.92 96.768a374.72 374.72 0 0 0 112.832 0l25.92-96.768 110.528-63.808 96.64 25.92c23.68-29.44 42.816-62.4 56.512-97.664l-70.848-70.848z m39.744 254.848l-111.232-29.824-55.424 32-29.824 111.36c-37.76 10.24-77.44 15.808-118.4 15.808-41.024 0-80.768-5.504-118.464-15.808l-29.888-111.36-55.424-32-111.168 29.824A447.552 447.552 0 0 1 64 625.472L145.472 544v-64L64 398.528A447.552 447.552 0 0 1 182.592 193.28l111.168 29.824 55.424-32 29.888-111.36A448.512 448.512 0 0 1 497.472 64c41.024 0 80.768 5.504 118.464 15.808l29.824 111.36 55.424 32 111.232-29.824c56.32 55.68 97.92 126.144 118.592 205.184L849.472 480v64l81.536 81.472a447.552 447.552 0 0 1-118.592 205.184zM497.536 627.2a115.2 115.2 0 1 0 0-230.4 115.2 115.2 0 0 0 0 230.4z m0 76.8a192 192 0 1 1 0-384 192 192 0 0 1 0 384z' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --bg-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");

  /* FILTERS */
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(202deg) brightness(104%)
    contrast(101%);
  --filter-main_100: brightness(0) saturate(100%) invert(84%) sepia(27%) saturate(3464%) hue-rotate(351deg)
    brightness(103%) contrast(84%);
  --filter-accent_100: brightness(0) saturate(100%) invert(30%) sepia(84%) saturate(2512%) hue-rotate(336deg)
    brightness(105%) contrast(90%);
  --filter-dark: brightness(0) saturate(100%) invert(9%) sepia(90%) saturate(3877%) hue-rotate(238deg) brightness(93%)
    contrast(98%);
}

@utility bg-icon-* {
  background-image: --value(--bg-icon-*);
}

@utility filter-* {
  filter: --value(--filter-*);
}

@utility bg-default {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@utility visible {
  opacity: 1;
}

@utility invisible {
  opacity: 0;
}

html {
  @apply overflow-x-clip text-[62.5%];
}

html,
body {
  button {
    @apply cursor-pointer;
  }
}
